@import "frappe.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: @crust;
  color: @text;
}

#workspaces {
  margin-left: 8px;
}

#workspaces button {
  background-color: transparent;
  border-radius: 50%;
  color: @overlay0;
  padding: 0 4px;
  margin: 0 2px;
  min-width: 8px;
  font-size: 8px;
}

#workspaces button.focused,
#workspaces button.visible {
  color: @lavender;
  font-size: 12px;
  padding: 0 6px;
  border-top: 2px solid @lavender;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: transparent;
  color: @sapphire;
}

#custom-music {
  color: @mauve;
  border-left: 2px solid @surface1;
  padding: 0 12px;
  margin: 6px 0;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-lock,
#custom-power,
#disk,
#memory,
#network,
#pulseaudio,
#temperature,
#tray {
  padding: 0 6px;
  background-color: transparent;
}

#cpu {
  color: @mauve;
  margin-left: 8px;
}

#temperature {
  color: @maroon;
}

#temperature.critical {
  color: @red;
}

#memory {
  color: @teal;
}

#disk {
  color: @yellow;
}

#pulseaudio {
  color: @subtext0;
}

#pulseaudio.muted {
  color: @overlay0;
}

#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @green;
  padding-right: 18px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
}

#clock {
  color: @blue;
}

#tray {
  padding: 0 8px;
  border-left: 2px solid @surface1;
  margin: 6px 0;
}

#custom-lock {
  color: @lavender;
  border-left: 2px solid @surface1;
  margin: 6px 0;
  padding-right: 12px;
}
