#input {
	background-color: #232634; /* background color of the text input box itself */
	border: none; /* border around the input box */
	border-radius: 0.5rem;
	color: #ffffff; /* text color as you type inside the input box */
	margin: 10px; /* how much padding there is around the input box */
	}

#inner-box {
	background-color: #303446; /* background color behind the search results */
	border: none; /* horizontal bar that appears above the search results */
	color: #ffffff; /* text color of each search result */
	margin: 5px;
}

#outer-box {
	background-color: #303446; /* background color of entire inner window */
	border: none; /* border around all the internal window components */
	margin: 5px; /* margin between the outer edges of the main window and its contents inside */
}

#text {
	background-color: trans; /* background behind each individual item within the search results */
	border: none; /* border around each individual item within the search results */
	color: c6d0f5;
	margin: 5px;
}

/* Remove the search icon */
#input > image.left {
        -gtk-icon-transform:scaleX(0);
}

#entry:selected {
	background-color: #81c8be; /* background color behind the highlighted entry */
	border-radius: 0.5rem;
}

#text:selected {
	color: #232634;
}

#scroll {
	background-color: #303446; /* background color behind the search slider */
	border: 2px solid #303446;
	margin: 5px;
}

window {
	background-color: #303446;
	border: 3px solid #8caaee; /* border around the entire window */
	border-radius: 0.75rem;
	margin: 15px;
}

